.event__info,
.event__registered {
  margin-bottom: 2rem;
}

.event__title {
  font-size: 2rem;
}

.event__subtitle {
  font-size: 1.5rem;
}

.event__registeredItem {
  margin-bottom: 1rem;
}

.event__registeredName {
  font-weight: bold;
}

.event__registeredComment {
  display: block;
  font-style: italic;
}
